---
import { ClientRouter } from 'astro:transitions';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

interface Props {
	title: string;
	description?: string;
}

const { title, description = "Collins' Digital Workbench" } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
  		<meta charset="UTF-8" />
  		<meta name="description" content={description} />
  		<meta name="viewport" content="width=device-width" />
  		<meta name="generator" content={Astro.generator} />
  		<title>{title}</title>

  		<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
  		<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
  		<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
  		<link rel="shortcut icon" href="/favicon.ico">
  		<link rel="manifest" href="/site.webmanifest">
  
  		<meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)">
  		<meta name="theme-color" content="#1e293b" media="(prefers-color-scheme: dark)">
	</head>

	<body>
    	<Header transition:name="header" />
		
    	<main transition:name="main" transition:animate="slide">
    		<slot />
    	</main>

    	<Footer transition:name="footer" />

    	<ClientRouter />
	</body>
</html>